<html>
<head>
    <title>Extensions</title>
    <meta name="subtitle" content="Extensions" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="keywords" content="romp, extensions, integrations" />
    <meta name="sequence" content="60" />
</head>
<body>
    <style>
        .info.romp {
            border-color: #98002E;
            color: #98002E;
        }
    </style>
    <div style="margin-top: 25px;" class="info romp">
        <div>
            <b>Romp Documentation Note - This documentation is incomplete.</b> <br /><br />As we continue working on Romp, the documentation will be updated.
        </div>
    </div>
    <p>
        Romp can load the same extensions as Otter. To ensure that a Romp Package can always be run, extensions can be bundled in the package and will be automatically loaded by Romp.
    </p>

   
    
</body>
</html>