<html>
<head>
    <title>Otter Rafts</title>
    <meta name="subtitle" content="Otter Rafts" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="keywords" content="romp, otter, rafts" />
    <meta name="sequence" content="50" />
</head>
<body>
    <style>
        .info.romp {
            border-color: #98002E;
            color: #98002E;
        }
    </style>
    <div style="margin-top: 25px;" class="info romp">
        <div>
            <b>Romp Documentation Note - This documentation is incomplete.</b> <br /><br />As we continue working on Romp, the documentation will be updated.
        </div>
    </div>
    <p>
        A raft in Otter is used to store plans, templates, variables, and asset files. If a Romp Package has any dependency on raft data, the entire raft can be included in the package. Further information about rafts can be found in the <a href="/support/documentation/otter/global-components/rafts">Otter documentation</a>.
    </p>

   
    
</body>
</html>